.ui-dialog .ui-dialog-titlebar { background-color: #ceb36a; display: none; }
.ui-dialog .ui-dialog-content { background-color: #fdedbf; max-height: 25px; }
.ui-widget.ui-widget-content { border: 1px solid #ffe369; background-color: #ffe190b0; }
.ui-dialog .ui-dialog-buttonpane { background-color: #ffde7a; padding: 0; margin-top: 0; }
.ui-dialog .ui-dialog-buttonpane button { background-color: #ffe28d; border: 1px solid #ecb726; font-family: 'JKU'; margin: 1px; }
.dialog-title { color: #6d5a25; font-family: 'JKU'; font-size: 25px; text-align: center; }
.dialog-message { position: fixed;  }
.dialog-message::backdrop { background-color: #ffeebe; }
